PORT=your-port
APP_HOST=rappi-cokoa
GELF_VERSION=1.1
LOGGLY_TOKEN=loggly-token
LOGGLY_SUBDOMAIN=loggly-subdomain
QUERY_LOGS=true
PG_CONNECTION_STRING=postgres://postgres:admin@host:5432/denvercrime
PG_USER=postgres
PG_PASSWORD=postgres
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=postgres
AUTH_TYPE=BEARER
SECRET_ACCESS_KEY="your-secret-access-key"
PUBLIC_ACCESS_KEY="your-public-access-key"
AUDIENCE=your-audience
ISSUER=your-issuer
SCOPE=your-scope
REQUEST_RETRIES=3
REQUEST_EXPONENTIAL=true
REQUEST_TIMEOUT=1000